body{
    background-color: black;
    font-size:16px;
}

header, main{
    text-align:center;
}
h1{
    color:white;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
}

.CTA{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    font-size: 1.5em;
    color:aquamarine;
}

.main--content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    color:white;
    opacity:0.5;
}